@media screen and (max-width: 1000px) {
    section.first div.centered div.lower-box {
        flex-direction: column;
    }
    section.first div.centered div.lower-box div.contacts {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 530px) {
    section.first div.centered {
        width: 100%;
        padding: 12px;
        position: absolute;
        left: 0;
        top: 0;
        transform: none;
    }
    section.first div.centered div.description span.content {
        font-size: 20px;
    }
    section.first div.centered div.lower-box div.contacts {
        width: 100%;
        height: initial;
    }
    section.first div.centered div.lower-box div.contacts h2,
    section.first div.centered div.lower-box div.skills h2 {
        width: 100%;
        padding: 4px;
    }
    section.first div.centered div.lower-box div.contacts ul a {
        font-size: 20px;
    }
    section.first div.centered div.lower-box div.skills {
        width: 60%;
        height: initial;
    }
    @media (prefers-color-scheme: dark) {
        section.first div.copyright-notice {
            background-color: rgba(37, 37, 37, 0.664);
            padding: 2px;
            border-radius: 6px;
            position: fixed;
        }
    }
    @media (prefers-color-scheme: light) {
        section.first div.copyright-notice {
            background-color: rgba(219, 219, 219, 0.664);
            padding: 2px;
            border-radius: 6px;
            position: fixed;
        }
    }
    section.first div.copyright-notice span.dreams {
        display: none;
    }
}
@media screen and (max-width: 450px) {
    section.first div.centered div.header {
        flex-direction: column;
    }
    section.first div.centered div.header div.logo {
        margin: 0 auto;
    }
    section.first div.centered div.header div.logo h2 {
        font-size: 34px;
    }
    section.first div.centered div.header div.links {
        margin: 0 auto;
    }
    section.first div.centered div.header div.links a {
        font-size: 20px;
    }
}
