@media (prefers-color-scheme: light) {
    body {
        background-color: #eee8e8;
    }
     /**/  /**/  /**/
    /**/  /**/  /**/
    span.noscript {
        font-family: quicksand, 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #131313;
        position: absolute;
        top: 10px;
        left: 10px;
        opacity: 0.8;
        z-index: 4;
        cursor: default;
        transition: ease opacity .5s;
    }
    span.noscript:hover {
        opacity: 1;
    }
    div.overlay {
        z-index: 3;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #e0d8d8;
        transition: ease-in-out transform .5s;
    }
        /******/
       /**/   /**/
      /**/   /**/
     /**/   /**/
    /******/
    div.overlay div.o-centered span {
        font-family: quicksand, 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
        font-weight: 700;
        font-size: 28px;
        color: #131313;
    }
    section.first div.bg-container div.block-clr1 {
        position: absolute;
        filter: blur(48px);
        width: 340px;
        height: 350px;
        background-color: lightcoral;
        border-radius: 50%;
        right: 25%;
        top: 0%;
        animation: move-block-clr1 14s infinite;
    }
    section.first div.bg-container div.block-clr2 {
        position: absolute;
        filter: blur(48px);
        width: 396px;
        height: 303px;
        border-radius: 50%;
        background-color: mediumslateblue;
        left: 25%;
        top: 30%;
        animation: move-block-clr2 14s infinite;
    }
    section.first div.centered div.header {
        display: flex;
        justify-content: space-between;
    }
    section.first div.centered div.header div.logo h2 {
        font-family: quicksand, 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
        font-weight: 700;
        font-size: 28px;
        color: #131313;
    }
       /******/
        /**/
       /**/
      /**/
    /*****/
    section.first div.centered div.header div.links a {
        font-family: quicksand, 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #131313;
        text-decoration: none;
        padding: 3px 6px;
        transition: ease-out color .05s, ease-out background-color .05s;
    }
    section.first div.centered div.header div.links a:hover {
        background-color: #131313;
        color: whitesmoke;
    }
    section.first div.centered div.description span.content {
        font-family: quicksand, 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #131313;
        transition: ease font-size .5s;
    }
    section.first div.centered div.lower-box div.contacts h2,
    section.first div.centered div.lower-box div.skills h2 {
        font-family: quicksand, 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
        font-weight: 700;
        font-size: 22px;
        color: #131313;
        margin-bottom: 20px;
    }
        /*******/
       /**/
      /*****/
     /**/
    /*******/
    section.first div.centered div.lower-box div.contacts ul,
    section.first div.centered div.lower-box div.contacts ul a {
        font-family: quicksand, 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #131313;
        list-style-type: none;
        text-decoration: none;
        transition: ease font-size .5s;
    }
         /**/  /**/  /**/
        /**/  /**/  /**/
       /**/  /**/  /**/
      /**/  /**/  /**/

    /**/  /**/  /**/
    div.revolt {
        display: inline-block;
        width: 20px;
        height: 18px;
        margin-right: 5px;
        background-image: url(./revolt.png);
        background-size: contain;
        background-repeat: no-repeat;
        filter: invert(8%);
    }
    section.first div.copyright-notice span {
        color: #131313;
    }
    section.first div.copyright-notice span a {
        text-decoration: none;
        color: #131313;
    }
    section.first div.copyright-notice span.dreams {
        color: #131313;
        opacity: 0.03;
    }
}
