*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: quicksand;
    src: url(./quicksand-VariableFont.ttf);
}
@keyframes move-block-clr1 {
    from {
        transform: rotate(180deg) translateX(50px) rotate(180deg);
        opacity: 0.5;
    }
    10%, 30%, 50%, 70%, 90% { opacity: 0.3; }
    20%, 40%, 60%, 80% { opacity: 0.5; }
    to {
        transform: rotate(540deg) translateX(50px) rotate(540deg);
        opacity: 0.3;
    }
}
@keyframes move-block-clr2 {
    from {
        transform: rotate(-540deg) translateX(70px) rotate(-540deg);
        opacity: 0.3;
    }
    10%, 30%, 50%, 70%, 90% { opacity: 0.5; }
    20%, 40%, 60%, 80% { opacity: 0.3; }
    to {
        transform: rotate(-180deg) translateX(70px) rotate(-180deg);
        opacity: 0.5;
    }
}
div.overlay div.o-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
section.first {
    height: 100vh;
    width: 100vw;
}
section.first div.bg-container {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
section.first div.centered {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: ease left .5s, ease top .5s, ease transform .5s, ease width .5s;
}
section.first div.centered div.header div.links {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
section.first div.centered div.description {
    margin-top: 20px;
}
section.first div.centered div.lower-box {
    margin-top: 30px;
    display: flex;
}
section.first div.centered div.lower-box div.contacts {
    width: 55%;
    height: 155px;
}
section.first div.centered div.lower-box div.skills {
    width: 45%;
    height: 155px;
}
section.first div.centered div.lower-box div.contacts ul a:hover {
    opacity: 0.8;
}
section.first div.centered div.lower-box div.contacts ul li {
    margin-bottom: 8px;
}
section.first div.centered div.lower-box div.contacts ul li:last-child {
    margin-bottom: 0;
}
section.first div.centered div.lower-box div.contacts ul li svg {
    width: 20px;
    margin-right: 5px;
}
section.first div.centered div.lower-box div.skills img {
    width: 100%;
}
section.first div.copyright-notice {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    font-family: quicksand, 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
    font-size: 12px;
}
